body{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: "montserrat";
    text-align: center;
}
/* Background-img*/
.background-home-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
}


/* navbar */

   


/* home */
.home-txt{
    padding-top: 10%;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}
.heading-txt{
    font-weight: 600;
    font-size: 6rem;
    padding-top: 1%;
}

  

/* summarize */

#summarize{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 22%;
    padding-top: 3%;
    background-color: rgba(240, 236, 236, 0.712);

}

.container-output{
    background-color: #fff;
    padding: 50px 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin-bottom: 3%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
textarea{
    color: black;
    margin: 1%;
}
.btn{
    display: inline;
    padding: 1%;
    margin: 1%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
 /* button
 .start-now{
    margin: 0;
    color: rgb(44, 40, 40);
    background:rgb(206, 216, 235);
    border: 0;
    border-radius: 4%;
    margin-top: 3%;    
    font-size: smaller;
    font-weight: bold;
    padding: 0.5%;
    text-decoration:none;
}*/
.enter-txt{
    font-weight: 600;
    font-size: 2.5rem;
    color: #5e0cf7;
}

#summarize textarea
{
    width: 70%;
    height: 10%;
}
#summarize button{
    background-color:#8080807a;

}
.btn:hover{
    color :#5e0cf7;
    cursor: pointer;
    border: 2px solid black;
}
.container input{
    display: block;
    width:100%;
    font-size: 20px;
    border: none;
    font-weight: bold;
}


/* result */


#result > div{
    display: flex;
    width: 70%;
    margin-left: 190px;
}
#result .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 15px;
    margin: 5% 1%;
    background-color: #fff;
    padding: 50px 30px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin-bottom: 3%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#result h3{
    font-size: 19px;
    margin: 10px 0px 10px 0px;
}
#result hr{
    width: 45px;
    height: 3px;
    background-color: #5e0cf7;
    margin: 0 auto;
    border: none;
}
.output-txt{
    color:#5e0cf7;
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 2%;
}


/* compare */

#compare ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#compare li{
list-style: none;
padding: 10px ;
}
#compare li a{
    font-size: 20px;
    text-decoration: none;
}
#comapre li a:active{
    color: yellow;
    text-decoration: underline;
}


/* copy  paste*/
.vertical-heading h5{
    color:  #1037b8;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -95px;

}
/* About 01 */
#about-left{
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 3%;
    padding: 5%;
}

#about-right {
    margin-bottom: 8%;
    margin-top: 8%;
    font-size: 20px;
    font-weight: 600;
    padding: 5%;
}
#about-bottom img{
    width: 60%;
    margin: 0 auto;
    margin: 3%;

}


/*About 02 */
#about-02 {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 5%;
}

.about-item {
    background-color: #fff;
    padding: 20%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 5% auto;
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color:  #1037b8;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}









/* Footer */
footer{
    background: #212226;
    padding: 30px;
}

footer p{
    color: #fff;
    line-height: 20px;
}

footer p span{
    color:  #4b70eb;
    font-size: 17px;
}


/* =========================================
                Contact
============================================ */


#contact-left p {
    margin-top: 10px;
}


ul.office-details {
    list-style: none;
    padding: 1%;
}

ul.office-details li {
    font-family: "Open Sans", sans-serif;
    margin-top: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

ul.office-details li i {
    font-size: 20px;
    width: 45px;
}

#contact-right {
    text-align: left;
    width:70%;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 3%;
    margin-bottom: 8%;

}

#contact-right h4 {
    font-size: 24px;
}



#contact-right ul.social-list li a {
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}

#contact-right ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}


/* =========================================
                Social Icons
============================================ */

ul.social-list {
    padding: 0;
    margin-top: 20px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

ul.social-list li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background: #6200b4;
    border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
    background: #3b5998;
    border-color: transparent;
}

